.main{
    background:white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100px,auto);
    margin-top: 0px;
    overflow: hidden;
    margin-bottom: 5px;
   
}
.main .post{
    margin: 0px;
    background:linear-gradient(to right,white,white,rgba(214, 214, 243, 0.377));
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 1;
    transition: all 0.3s;
}
.main .notifications{
    background:linear-gradient(to right,rgba(214, 214, 243, 0.377),rgba(214, 214, 243, 0.377),white);
    display: grid;
    grid-template-columns: 1fr;
    align-content: flex-start;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
   

}
.main .post .indPost{
    background:linear-gradient(to right,white,white,rgba(181, 181, 228, 0.904)) ;
    width: 90%;
    margin: 10px;
    overflow: hidden;
    border: none;
    height: 290px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.indPost img{
    height: 180px;
    width: 200px;
    margin: 3px;
    margin-top: -90px;
    margin-left: -50px;
    transform: rotate(20deg);
    
}
.indPost .postTitle{
    text-align: center;
   background: linear-gradient(to right,white,white,#f2f2f2);
   color: grey;
   margin-top: -20px;
}
.indPost .postContent{
   font-size: 20px;
   line-height: 14px;
   height: 90px;
   overflow-y: scroll;
   
   
}
.post h1{
    cursor:pointer;
    max-height: 50px;
    line-height: 0%;
}
.notifications h1{
    cursor: pointer;
    max-height: 50px;
    line-height: 0%;
   
}
.posthr{
    margin-top: 30px;
}
.indPost .postFooter{
    margin-top: 0%;
    
}
.postContent button{
    width: 60%;
    margin: 15px;
    height: 30px;
    border-radius: 15px;
    border: none;
    background-color: rgba(137, 137, 240, 0.616);
    color: white;
    font-weight: bolder;
    font-size: 15px;
    cursor: pointer;
    transition: 0.4s;
}
.postContent button:hover{
    background-color: rgba(207, 207, 252, 0.76);
    color: black;
}
.main .notifyBody{
    margin: 10px;
    min-width: 90%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    height: 100px;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
    
}
.notifyContent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background:transparent;
    width: 90%;
    height: 100%;
    overflow: hidden;
    border-left: 5px solid rgba(119, 119, 236, 0.651);
    color: rgb(35, 36, 37);
    transition: all 0.3s;
    
}
.notifyContent:hover{
    transform: translateX(5px);
}

@media screen and (max-width: 880px) {
    .main{
        background:white;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-auto-rows: minmax(100px,auto);
        margin-top: 0px;
        overflow: hidden;
      
    }
    .main .post{
        margin: 0px;
        grid-column: 1/5;
        background:linear-gradient(to right,white,white,rgba(214, 214, 243, 0.377));
        width: 90%;
        height: 100%;
        overflow: hidden;
        transition: all 0.3s;
    }
    .main .notifyBody{
        transform: translateX(250px);
        opacity:1;
        transition: all 0.4s;
        
    }
    .main .notifyBody.show{
        transform: translateX(-10px);
        
    }
 
    .notifications{
        grid-column: 1/5;
        z-index: 100px;
        transition: all 0.3s;
        margin: 5px;
        opacity: 1;
    }
    .main .post .postHide{
        opacity: 1;
        transition: all 0.4s;
    }
    .main .post.show{
        grid-column: 1/1;
        transition: all 0.3s;
    }
    .main .post .postHide.show{
        opacity: 0;
    }
    .notifications .notContainer{
        opacity: 1;
       
    }
    .notifications .notContainer.show{
        opacity: 1;
       
    }
    .notifyBody{
        margin: 5px;
        width: 90%;
    }
    .notifyContent{
        width: 90%;
    }
    .main .post .indPost{
        background:linear-gradient(to right,white,white,rgba(181, 181, 228, 0.904)) ;
        width: 70%;
        margin: 5px;
        overflow: hidden;
        border: none;
        height: 200px;
        border-radius: 15px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }
    
}
@media screen and (max-width: 593px) {
    .main .post .indPost{
        background:linear-gradient(to right,white,white,rgba(181, 181, 228, 0.904)) ;
        width: 90%;
        margin: 8px;
        overflow: hidden;
        border: none;
        height: 270px;
        border-radius: 15px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }
    .indPost img{
        height: 150px;
        width: 150px;
        margin: 3px;
        margin-top: -90px;
        margin-left: -50px;
        transform: rotate(30deg);
        
    }
    .indPost .postTitle{
        margin-top: 20px;
    }
    .indPost .postContent{
        font-size: 15px;
        line-height: 14px;
        height: 70px;
        overflow-y: scroll;
        
        
     }
}